<div class="container p-5 bg-success text-light mt-5 mb-5">
    <div class="row">
        <div class="col-md-4">
            <h1><i class="fa-solid fa-kitchen-set me-2"></i>Cookpedia</h1>
            <p style="text-align: justify;" class="mt-4">Discover 100+ recipes in your hand with the best <br> recipes. Help you to find the easiest way to cook</p>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-5">
            <h2>Sign up for our news letter</h2>
            <div class="d-flex mt-4">
                <input type="text" placeholder="Email Please" class="form-control me-3">
                <button class="btn" style="background-color: rgb(33, 178, 33);"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
            <div class="row mt-4">
                <div class="col-4">
                    <h4>Menu</h4>
                    <a routerLink="/" style="color: white;text-decoration: none;"><p>Home</p></a>
                    <a routerLink="/all-recipes" style="color: white;text-decoration: none;"><p>Recipes</p></a>
                    <a routerLink="/about" style="color: white;text-decoration: none;"><p>About</p></a>
                    <a routerLink="/contact" style="color: white;text-decoration: none;"><p>Contact</p></a>
                </div>
                <div class="col-4">
                    <h4>Help</h4>
                    <a routerLink="/login" style="color: white;text-decoration: none;"><p>Login</p></a>
                    <a routerLink="/register" style="color: white;text-decoration: none;"><p>Register</p></a>
                    <a routerLink="/" style="color: white;text-decoration: none;"><p>Privacy & Policy</p></a>
                    <a routerLink="/" style="color: white;text-decoration: none;"><p>Terms of Use</p></a>
                </div>
                <div class="col-4">
                    <h4>Social Media</h4>
                    <a routerLink="/" style="color: white;text-decoration: none;"><p>Facebook</p></a>
                    <a routerLink="/" style="color: white;text-decoration: none;"><p>Instagram</p></a>
                    <a routerLink="/" style="color: white;text-decoration: none;"><p>Twitter</p></a>
                    <a routerLink="/" style="color: white;text-decoration: none;"><p>Youtube</p></a>
                </div>
            </div>
        </div>
    </div>
</div>
