<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 d-flex justify-content-center align-items-center flex-column">
            <img src="https://www.scopycode.com/includes/images/blog/404_error_page_not_found.gif" alt="no image" class="w-100">
            <h1 class="ms-md-5 mt-4 text-secondary">Look Like you Lost the Path</h1>
            <a routerLink="/" ><button class="btn btn-success rounded-0 mt-4 ms-md-5 shadow">BACK HOME</button></a>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
